<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d] %-5level %replace(%replace(%logger){'cloudbeaver', 'indaas'}){'dbeaver', 'macro'}  - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/indaas.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/indaas_log_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d] %-5level %replace(%replace(%logger){'cloudbeaver', 'indaas'}){'dbeaver', 'macro'}  - %msg%n
            </Pattern>
        </layout>
    </appender>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <logger name="org.jkiss" level="DEBUG"/>
    <logger name="io.cloudbeaver" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>